---
import SiteNavbar from "../components/SiteNavbar.astro";
import "./SiteLayout.scss"

interface Props {
  title: string;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---
<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>{title} | Mise-en-place</title>
	</head>
	<body>
    <header class="container">
      <SiteNavbar />
    </header>
    <main class="container">
      <slot />
    </main>
	</body>
</html>